# Centrality Algorithms

ÂèÇÁÖßÔºöhttps://neo4j.com/docs/graph-data-science-client/current/tutorials/centrality-algorithms/

In [2]:
from graphdatascience import GraphDataScience
import pandas as pd
# import dotenv 
import os
import sys 
from neo4j import GraphDatabase
from dotenv import load_dotenv
import networkx as nx
import matplotlib.pyplot as plt

In [3]:
load_dotenv()

True

In [7]:
# NEO4J_URI = os.environ.get("NEO4J_URI", "bolt://localhost:7687")
# NEO4J_AUTH = None
URI = os.getenv("NEO4J_URI")
AUTH = (os.getenv("NEO4J_USERNAME"), os.getenv("NEO4J_PASSWORD"))

if os.environ.get("NEO4J_USER") and os.environ.get("NEO4J_PASSWORD"):
    NEO4J_AUTH = (
        os.environ.get("NEO4J_USER"),
        os.environ.get("NEO4J_PASSWORD"),
    )

try:
    gds = GraphDataScience(URI, auth=AUTH)
    print("Connection established.üò∫")
except Exception as e:
    print(f"Error: {e}", file=sys.stderr)

Connection established.üò∫

In [8]:
from graphdatascience.server_version.server_version import ServerVersion

assert gds.server_version() >= ServerVersion(1, 8, 0)

## 2. Importing the dataset
- `reachability-meta.csv.gz`: ÈÉΩÂ∏ÇÂêç„Å®„Åù„ÅÆÊÉÖÂ†±
- `reachability.txt.gz`: „É™„É¨„Éº„Ç∑„Éß„É≥„Éá„Éº„Çø
    - `i`„Åã„Çâ`j`„Å∏ÈÉΩÂ∏Ç„Åå„Å§„Å™„Åå„Çã„ÄÇÔºàËà™Á©∫Ëà™Ë∑ØÊôÇÈñì„Åå„ÅÇ„ÇãÈñæÂÄ§„Çà„Çä‰Ωé„ÅÑ„Å®„ÅçÔºâ

In [9]:
nodes_info_df = pd.read_csv("https://snap.stanford.edu/data/reachability-meta.csv.gz", compression="gzip")
nodes_info_df.head()

   node_id              name  metro_pop   latitude   longitude
0        0    Abbotsford, BC   133497.0  49.051575 -122.328849
1        1      Aberdeen, SD    40878.0  45.459090  -98.487324
2        2       Abilene, TX   166416.0  32.449175  -99.741424
3        3  Akron/Canton, OH   701456.0  40.797810  -81.371567
4        4       Alamosa, CO     9433.0  37.468180 -105.873599

In [10]:
routes_df = pd.read_csv(
    "https://snap.stanford.edu/data/reachability.txt.gz",
    sep=" ",
    skiprows=6,
    header=None,
    compression="gzip",
    names=["Origin", "Destination", "Weight"],
)
routes_df.head()

   Origin  Destination  Weight
0      27            0    -757
1      57            0     -84
2      70            0   -1290
3      74            0    -465
4      86            0    -700

„Ç∞„É©„Éï„ÅØ„Å®„Å¶„ÇÇÂ∞è„Åï„ÅÑ„ÅÆ„Åß„ÄÅ`UNWIND`„Çí‰Ωø„ÅÜ„ÅÆ„ÅåÊúÄÂàù„ÅÆ„Ç∞„É©„Éï„Çí‰Ωú„Çã‰∏ä„ÅßÊúÄ„ÇÇ„Ç∑„É≥„Éó„É´„ÅßÂàÜ„Åã„Çä„ÇÑ„Åô„ÅÑ„ÄÇ

„Ç∞„É©„Éï„ÅåÂ§ß„Åç„ÅÑÂ†¥Âêà„ÅØ„ÇÇ„Å£„Å®‰ªñ„ÅÆ„ÇÑ„ÇäÊñπ„ÅÆÊñπ„Åå„ÅÑ„ÅÑ„Çâ„Åó„ÅÑ„ÄÇÔºà`neo4j-admin import`„ÇÑ`CREATE DATABASE`„Å™„Å©Ôºâ

‚Äª `.to_dict("records")`„ÅØ‰∏ÄËà¨ÁöÑ„Å™„É°„ÇΩ„ÉÉ„Éâ„ÄÇ

In [11]:
gds.run_cypher(
    "UNWIND $nodes AS node CREATE (n:City {node_id: node.node_id, name: node.name, population: node.metro_pop})",
    params={"nodes": nodes_info_df.to_dict("records")},
)

gds.run_cypher(
    """
    UNWIND $rels AS rel
    MATCH (source:City {node_id: rel.Origin}), (target:City {node_id: rel.Destination})
    CREATE (source)-[:HAS_FLIGHT_TO]->(target)
    """,
    params={"rels": routes_df.to_dict("records")},
)

Empty DataFrame
Columns: []
Index: []

In [12]:
G, result = gds.graph.project("airline", "City", "HAS_FLIGHT_TO")

print(f"The projection took {result['projectMillis']} ms")

# We can use convenience methods on `G` to check if the projection looks correct
print(f"Graph '{G.name()}' node count: {G.node_count()}")
print(f"Graph '{G.name()}' node labels: {G.node_labels()}")
print(f"Graph '{G.name()}' relationship count: {G.relationship_count()}")

The projection took 130 ms
Graph 'airline' node count: 456
Graph 'airline' node labels: ['City']
Graph 'airline' relationship count: 71959

## 3. Eigenvector Centrality
- „Éé„Éº„Éâ„ÅÆÈáçË¶ÅÂ∫¶„Çí„Ç≥„Éç„ÇØ„Ç∑„Éß„É≥„Éç„ÉÉ„Éà„ÉØ„Éº„ÇØ„Åã„ÇâË®à„Çã
    - „Çπ„Ç≥„Ç¢„ÅåÈ´ò„ÅÑ„Åª„Å©„ÄÅ‰ªñ„ÅÆ„Éé„Éº„Éâ„Å∏„ÅÆÂΩ±ÈüøÂäõ„ÅåÈ´ò„ÅÑ„Å®„Åø„Å™„Åï„Çå„Çã

‰ªäÂõû„ÅÆairports„Éá„Éº„Çø„Çª„ÉÉ„Éà„ÅßÂÆüÊñΩ„Åô„Çã„Å®„ÄÅ
- ‰ªñ„Å®„Çà„ÅèÁπã„Åå„Å£„Å¶„ÅÑ„ÇãÁ©∫Ê∏Ø
- ‰ªñ„ÅÆ**ÈáçË¶Å„Å™**Á©∫Ê∏Ø„Å®Áπã„Åå„Å£„Å¶„ÅÑ„ÇãÁ©∫Ê∏Ø
„ÇíË¶ã„Å§„Åë„Çâ„Çå„Çã„ÄÇ

In [13]:
eigenvector_centrality_result = gds.eigenvector.mutate(G, 
                                                       maxIterations=100, 
                                                       mutateProperty="eigenvectorCentrality"
                                                       )

In [14]:
G.node_properties()

City    [eigenvectorCentrality]
dtype: object

‚Üì‰∏ä„ÅÆÂÆüË£Ö„ÅåÂèéÊùü„Åó„Å¶„ÅÑ„Çå„Å∞„ÄÅ„Ç§„ÉÜ„É¨„Éº„Ç∑„Éß„É≥Êï∞„ÅåË°®Á§∫„Åï„Çå„Çã

In [15]:
 if eigenvector_centrality_result.didConverge:
    print(
        f"The number of iterations taken by Eigenvector Centrality to run is {eigenvector_centrality_result.ranIterations}."
    )
else:
    print("Algorithm did not converge!")

The number of iterations taken by Eigenvector Centrality to run is 13.

In [19]:
# Âõ∫Êúâ„Éô„ÇØ„Éà„É´„ÅÆ‰∏≠ÂøÉÊÄß„Çπ„Ç≥„Ç¢ÂàÜÂ∏É
display(eigenvector_centrality_result.centralityDistribution)

# DB„Å´„Åì„ÅÆ„Çπ„Ç≥„Ç¢„ÇíÊõ∏„ÅçËæº„ÇÄ
gds.graph.nodeProperties.write(G, ["eigenvectorCentrality"])

{'min': 0.0012630745768547058,
 'max': 0.08567857742309569,
 'p90': 0.07575749605894089,
 'p999': 0.0856785699725151,
 'p99': 0.08469437807798386,
 'p50': 0.0386042520403862,
 'p75': 0.05822562426328659,
 'p95': 0.08167456835508347,
 'mean': 0.041094380038741385}

writeMillis                                                         21
graphName                                                      airline
nodeProperties                                 [eigenvectorCentrality]
propertiesWritten                                                  456
configuration        {'jobId': '3ce4558c-a8ae-42d2-a4f0-6222e36b2c4...
Name: 0, dtype: object

Âõ∫Êúâ„Éô„ÇØ„Éà„É´‰∏≠ÂøÉÊÄß„Çπ„Ç≥„Ç¢„Çí‰Ωø„Å£„Å¶„ÄÅ
- ‰∏ªË¶Å„Éè„Éñ
- Â∫ÉÂ§ß„Å™„Éç„ÉÉ„Éà„ÉØ„Éº„ÇØ„ÇíÊåÅ„Å§Á©∫Ê∏Ø
„ÇíÊåÅ„Å§‰∏ä‰Ωç20ÈÉΩÂ∏Ç„ÇíË¶ã„Çå„Çã„ÄÇ

In [20]:
def display_top_20_cities(centrality_measure):
    """
    Function to execute the Cypher query to retrieve the top 20 cities with the highest centrality measure.
    """
    query = f"""
    MATCH (n:City)
    RETURN n.node_id AS node_id, n.name AS name, n.population AS population, n.{centrality_measure} AS {centrality_measure}
    ORDER BY n.{centrality_measure} DESC
    LIMIT 20
    """
    result = gds.run_cypher(query=query)

    print(result)

display_top_20_cities("eigenvectorCentrality")

    node_id                     name  population  eigenvectorCentrality
0       246          Los Angeles, CA  12940000.0               0.085678
1       368        San Francisco, CA   4391000.0               0.085393
2        94    Dallas/Fort Worth, TX   6527000.0               0.085097
3       230            Las Vegas, NV   1970000.0               0.084824
4        74              Chicago, IL   9505000.0               0.084694
5       100               Denver, CO   2600000.0               0.084620
6       324              Phoenix, AZ   4263000.0               0.084607
7       383       Seattle/Tacoma, WA   3500000.0               0.084396
8       434           Washington, DC   5704000.0               0.084002
9       269  Minneapolis/St Paul, MN   3318000.0               0.083769
10      294             New York, NY  19020000.0               0.083696
11      323         Philadelphia, PA   5992000.0               0.083678
12      102              Detroit, MI   4286000.0               0.082966
13      178              Houston, TX   6087000.0               0.082904
14      136       Ft. Lauderdale, FL   5670000.0               0.082483
15       68            Charlotte, NC   1795000.0               0.082441
16       19              Atlanta, GA   5359000.0               0.082405
17       46               Boston, MA   4591000.0               0.082311
18      308              Orlando, FL   2171000.0               0.081994
19      266                Miami, FL   5670000.0               0.081949

## 4. Betweenness Centrality
„Éç„ÉÉ„Éà„ÉØ„Éº„ÇØ‰∏≠„Å´„Åä„Åë„ÇãÂΩìË©≤„Éé„Éº„Éâ„Åå„ÄÅÊ©ãÊ∏°„Åó„Éª‰∏≠Èñì„Éé„Éº„Éâ„Å®„Åó„Å¶„Å©„Çå„Åª„Å©ÈáçË¶Å„Åã„ÇíÂÆöÈáè„Åô„Çã„ÄÇ  
„ÅÇ„Çã„Éé„Éº„Éâ„Åå„ÄÅ**‰ªñ„ÅÆ„Éö„Ç¢„Éé„Éº„Éâ„Å´„Åä„Åë„Çãshortest path„Å´ÁôªÂ†¥„Åô„ÇãÈ†ªÂ∫¶„ÇíÂÆöÈáè„Åô„Çã„ÄÇ**

‰ªäÂõû„ÅÆ„Éá„Éº„Çø„Çª„ÉÉ„Éà„Åß„ÅØ„ÄÅ
- ÈÉΩÂ∏ÇÈñì‰∏≠ÂøÉÊÄß„ÅÆÈ´ò„ÅÑÈÉΩÂ∏ÇÔºèÁ©∫Ê∏Ø„ÅØ„ÄÅÁõ¥Ë°å‰æø„ÅåÂ∞±Ëà™„Åó„Å¶„ÅÑ„Å™„ÅÑÁ©∫Ê∏ØÈñì„ÅÆÈáçË¶Å„Å™‰πó„ÇäÊèõ„Åà„Éù„Ç§„É≥„Éà„ÇÑÊé•Á∂ö„Éè„Éñ„Å®„Åó„Å¶Ê©üËÉΩ
- „Åì„Çå„Çâ„ÅÆÈÉΩÂ∏Ç„ÉªÁ©∫Ê∏Ø„ÅØ„ÄÅËà™Á©∫ÊóÖË°å„ÅÆÊµÅ„Çå„Çí‰øÉÈÄ≤„Åô„Çã‰∏ä„ÅßÈáçË¶Å„Å™ÂΩπÂâ≤„ÇíÊûú„Åü„Åó„Å¶„Åä„Çä„ÄÅ„Éç„ÉÉ„Éà„ÉØ„Éº„ÇØÂÖ®‰Ωì„ÅÆÊé•Á∂öÊÄß„Å´„Å®„Å£„Å¶„ÇÇ‰∏çÂèØÊ¨†

In [21]:
betweenness_centrality_result = gds.betweenness.mutate(G, mutateProperty="betweennessCentrality")

In [22]:
# We can verify that the betweennessCentrality was mutated
G.node_properties()

City    [betweennessCentrality, eigenvectorCentrality]
dtype: object

In [23]:
betweenness_centrality_result.centralityDistribution

{'min': 0.04446244239807129,
 'max': 3628.7656249999995,
 'p90': 1006.8867185115814,
 'p999': 3628.7656247615814,
 'p99': 3265.2968747615814,
 'p50': 21.20861792564392,
 'p75': 184.29199194908142,
 'p95': 1823.7578122615814,
 'mean': 298.0898581821668}

In [24]:
gds.graph.nodeProperties.write(G, ["betweennessCentrality"])

writeMillis                                                         37
graphName                                                      airline
nodeProperties                                 [betweennessCentrality]
propertiesWritten                                                  456
configuration        {'jobId': 'daa27d82-402d-4c06-83e4-817123b5c8f...
Name: 0, dtype: object

In [25]:
# ‰πó„ÇäÊèõ„Åà„Éù„Ç§„É≥„ÉàÔºàÁõ¥Ë°å‰æø„Åå„Å™„ÅÑÁ©∫Ê∏ØÈñìÔºâ
display_top_20_cities("betweennessCentrality")

    node_id                     name  population  betweennessCentrality
0       246          Los Angeles, CA  12940000.0            3628.755650
1       100               Denver, CO   2600000.0            3435.693657
2       294             New York, NY  19020000.0            3297.750685
3       416              Toronto, ON   6324000.0            3295.316691
4       368        San Francisco, CA   4391000.0            3265.288064
5        74              Chicago, IL   9505000.0            3250.731388
6       230            Las Vegas, NV   1970000.0            3156.983626
7       434           Washington, DC   5704000.0            3108.796793
8        94    Dallas/Fort Worth, TX   6527000.0            3094.760797
9       324              Phoenix, AZ   4263000.0            2815.294080
10      383       Seattle/Tacoma, WA   3500000.0            2600.388338
11      269  Minneapolis/St Paul, MN   3318000.0            2386.544069
12      367            San Diego, CA   3140000.0            2225.911712
13      178              Houston, TX   6087000.0            2206.757554
14      308              Orlando, FL   2171000.0            2205.127484
15       46               Boston, MA   4591000.0            2192.597357
16      331             Portland, OR   2263000.0            2098.582191
17      136       Ft. Lauderdale, FL   5670000.0            2047.102205
18      323         Philadelphia, PA   5992000.0            2038.406177
19      402            St. Louis, MO   2817000.0            1961.619874

## 5. Degree Centrality
„ÅÇ„Çã„Éé„Éº„Éâ„ÅåÊåÅ„Å§„Ç®„ÉÉ„Ç∏„ÅÆÊï∞„ÇíÂÆöÈáè

Á©∫Ê∏Ø„ÅÆ‰æã„Åß„ÅØ„ÄÅÊï∞Ôºù‰ªñ„ÅÆÈÉΩÂ∏Ç„Å®„ÅÆÊé•Á∂öÊï∞„ÇíË°®„Åô„ÄÇ

In [26]:
degree_centrality_result = gds.degree.mutate(G, mutateProperty="degreeCentrality")

In [27]:
G.node_properties()

City    [betweennessCentrality, eigenvectorCentrality,...
dtype: object

In [28]:
degree_centrality_result.centralityDistribution

{'min': 5.0,
 'max': 443.00195312499994,
 'p90': 329.0019226074219,
 'p999': 443.0019226074219,
 'p99': 429.0019226074219,
 'p50': 126.00045776367188,
 'p75': 217.00094604492188,
 'p95': 384.0019226074219,
 'mean': 157.80525314598754}

In [29]:
gds.graph.nodeProperties.write(G, ["degreeCentrality"])

writeMillis                                                         33
graphName                                                      airline
nodeProperties                                      [degreeCentrality]
propertiesWritten                                                  456
configuration        {'jobId': 'afd9d27b-2bcc-48ec-bfae-d8dcbe02b32...
Name: 0, dtype: object

In [30]:
display_top_20_cities("degreeCentrality")

    node_id                      name  population  degreeCentrality
0       246           Los Angeles, CA  12940000.0             443.0
1       230             Las Vegas, NV   1970000.0             432.0
2       368         San Francisco, CA   4391000.0             430.0
3        74               Chicago, IL   9505000.0             430.0
4       100                Denver, CO   2600000.0             429.0
5       294              New York, NY  19020000.0             428.0
6        94     Dallas/Fort Worth, TX   6527000.0             427.0
7       434            Washington, DC   5704000.0             427.0
8       324               Phoenix, AZ   4263000.0             424.0
9       416               Toronto, ON   6324000.0             409.0
10      269   Minneapolis/St Paul, MN   3318000.0             406.0
11      383        Seattle/Tacoma, WA   3500000.0             406.0
12       46                Boston, MA   4591000.0             404.0
13      323          Philadelphia, PA   5992000.0             402.0
14      367             San Diego, CA   3140000.0             402.0
15      136        Ft. Lauderdale, FL   5670000.0             401.0
16      178               Houston, TX   6087000.0             400.0
17      308               Orlando, FL   2171000.0             398.0
18      266                 Miami, FL   5670000.0             395.0
19      408  Tampa/St. Petersburg, FL   2825000.0             394.0

## 7. „ÇØ„É™„Éº„É≥„Ç¢„ÉÉ„Éó
- GDS„ÅÆ„Ç§„É≥„É°„É¢„É™
- DB
„Åã„Çâ„É°„É¢„É™ÂâäÈô§

In [31]:
# Cleanup GDS
G.drop()

graphName                                                          airline
database                                                             neo4j
databaseLocation                                                     local
memoryUsage
sizeInBytes                                                             -1
nodeCount                                                              456
relationshipCount                                                    71959
configuration            {'relationshipProjection': {'HAS_FLIGHT_TO': {...
density                                                           0.346824
creationTime                           2024-09-22T10:12:33.831870000+00:00
modificationTime                       2024-09-22T12:07:11.831926000+00:00
schema                   {'graphProperties': {}, 'nodes': {'City': {'be...
schemaWithOrientation    {'graphProperties': {}, 'nodes': {'City': {'be...
Name: 0, dtype: object

In [32]:
# Cleanup database
gds.run_cypher("MATCH (n:City) DETACH DELETE n")

Empty DataFrame
Columns: []
Index: []